n8n_workflow.json
{
  "name": "EventScraper Hub Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/scrape",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://serpapi.com/search.json",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpQueryAuth",
        "options": {},
        "qs": {
          "engine": "google_maps",
          "q": "={{$node[\"Webhook\"].json[\"body\"][\"keyword\"]}} in {{ $node[\"Webhook\"].json[\"body\"] [\"city\"] }}",
          "type": "search"
        }
      },
      "name": "SerpAPI Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "credentials": {
        "httpQueryAuth": {
          "id": "YOUR_SERPAPI_CREDENTIAL_ID",
          "name": "SerpAPI Account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_GOOGLE_SHEET_ID",
        "range": "A:E",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "googleApi": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets Account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Scraping completed\",\n  \"sheetUrl\": \"https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID\"\n}",
        "options": {}
      },
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "SerpAPI Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI Request": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}